@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.hero-bg {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-image: url("/lorient-5.png");
}

@media screen and (max-width: 420px) {
  .hero-bg {
    opacity: 1 !important;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    /* background-position: center; */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/lorient-5.png");
    background-position: center top;
    background-size: cover;
  }
}

.pricing-unordered-list li:before {
  content: "✓";
  font-family: "FontAwesome";
  margin-right: 5px;
}

/* .pricing-card-img{
  background-image: url('/facial7-min.jpg');
} */

/* # The Rotating Marker # */
